codegenie/backend/deepseek_model/
codegenie/backend/__pycache__/
codegenie/backend/.venv/
codegenie/node_modules
codegenie/src
codegenie/dist
codegenie/.vscode
codegenie/esbuild.js
codegenie/package-lock.json
codegenie/tsconfig.json
codegenie/eslint.config.mjs
codegenie/CHANGELOG.md